body {
  background-color: black;
  color: #cdb48c;
  font-family: arial;
  font-size: 20px;
  text-align: justify;}

hr {
  background-color: #cdb48c;
  border: none;
  color: #cdb48c;
  height: 2px;}

path {
  cursor: pointer;
  fill: rgba(0,0,0,0);
  stroke-width: 0;}

.button {
  background-color: #cdb48c;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-family: arial;
  text-align: center;
  white-space: normal;}

.content {
  margin: auto;
  max-width: 640px;}

.title {
  font-size: 24px;
  font-weight: bold;}
